In [ ]:
%LOAD example_db.db

In [ ]:
CREATE TABLE players (Name STRING, Class STRING, Level INTEGER)

In [ ]:
INSERT INTO players (Name, Class, Level) VALUES ("Martin Splitskull", "Warrior", 3)

In [ ]:
INSERT INTO players (Name, Class, Level) VALUES ("Sir Wolf", "Cleric", 2)

In [ ]:
INSERT INTO players (Name, Class) VALUES ("Sylvain, The Grey", "Wizard")

In [ ]:
SELECT (Name) FROM players

In [ ]:
SELECT SUM (Level) FROM players

In [ ]:
%TABLE_EXISTS players

In [ ]:
%TABLE_EXISTS npcs

In [ ]:
%GET_INFO

In [ ]:
%CREATE /Users/mariana/Development/jupyter-ecosystem/xeus-sqlite potato.db

In [ ]:
CREATE TABLE potaters(production INTEGER)

In [ ]:
INSERT INTO potaters (production) VALUES (7)

In [ ]:
SELECT * FROM potaters

In [ ]:
%DELETE